{% extends "bestcoupon_base.html" %}

{% block title %}BestCoupon - Termeni si conditii{% endblock %}

{% block extra-head %}
        <meta name="description" content="BestCoupon - Invata sa economisesti cu noi. Cupoane printabile, oferte, promotii si altele pentru a te bucura de viata.">
        <meta name="keywords" content="Cupon, Coupon, reduceri, chisinau, moldova, oferte, ieftin, revista, publicatie, gratis">
        <meta name="viewport" content="width=device-width">
{% endblock %}

{% block css %}
        <link rel="stylesheet" href="/static/bestcoupon/css/boilerplate-normalize.css">
        <link rel="stylesheet" href="/static/bestcoupon/css/boilerplate-main.css">
        <link rel="stylesheet" href="/static/bestcoupon/css/coupons-5d.css">
        <link rel="stylesheet" href="/static/bestcoupon/css/bestcoupon.css">
        <link rel="stylesheet" href="/static/bestcoupon/css/zm-footer.css">
        <link rel="stylesheet" href="/static/bestcoupon/css/bestcoupon-print.css" media="print" type="text/css">

{% endblock %}

{% block preload_js %}
        <script src="/static/bestcoupon/js/vendor/modernizr.min.js?v=31-Jan-2012"></script>
{% endblock %}

{% block js_bottom %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/bestcoupon/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/static/bestcoupon/js/vendor/jquery.ba-hashchange.js"></script>
    <script src="/static/bestcoupon/js/bestcoupon-paragraph.js"></script>
{% endblock %}

{%  block body_class %}{% endblock %}

{% block bcBody %}
    <div class="paragraph print contact">
        <div class="title">Contact</div>
        <div>
            <p>
                Trimite un mesaj prin intermediul formularului de contact
            </p>
            <div id="contact-form">
                <img src="/static/bestcoupon/img/png/bestcoupon-contact.png"
                     alt="bestcoupon.md map" />

                <form method="post" action="#/" >
                    <p>
                        Numele (obligatoriu)<br>
                        <span>
                            <input type="text" size="40" value="" name="your-name">
                        </span>
                    </p>
                    <p>
                        <span class="lpad-62">Adresa email (obligatoriu)</span>
                        <br>
                        <span>
                            <input type="text" size="40" value="" name="your-email">
                        </span>
                    </p>
                    <p>
                        <span class="lpad-30">Subiect</span>
                        <br>
                        <span>
                            <input type="text" size="40" value="" name="your-subject">
                        </span>
                    </p>
                    <p>
                        Mesaj
                        <br>
                        <span>
                            <textarea rows="10" cols="40" name="your-message"></textarea>
                        </span>
                    </p>
                    <p>
                        <input type="submit" value="Trimite" id="contact-form-submit" />
                    </p>
                </form>

                <p>
                    <strong>
                        Sau ne puteţi contacta direct:
                    </strong>
                </p>
                <p>
                    <strong>Redactor-Şef:</strong> <em>Elena Zbârnea</em> 060097000 <br>
                    <strong>Director de Marketing</strong>:  <em>Sergiu Ţurcanu</em> 060097111 <br>
                    <strong>Manager Publicitate</strong>: <em>Elena Pascari</em> 060066800
                </p>
                <p>
                    <strong>Adresa:</strong>
                    <br>
                    str. Alba-Iulia 122 of. 65
                    <br>
                    Chişinău, Republica Moldova
                </p>
            </div>



            <button onClick="window.print()" id="final-print-button">
                Printează Harta
                <img src="/static/bestcoupon/img/svg/human-gnome-dev-printer.svg"
                     width="30"
                     height="30"
                     alt="printer for bestcoupon.md"/>
            </button>


        </div>



    </div>
{% endblock %}