<div class="zf">
    <div class="zf-box-canvas">
        <!-- zumzi footer box left -->
        <div class="zf-box zf-box-l">
            <div class="zf-box-l-r"></div>
            <!-- zumzi footer item address -->
            <div class="zf-item zf-item-address">
                <div class="zf-text">
                    mun. Chisinau, str. Alba-Iulia 122 of. 65, Republica Moldova
                </div>
                <div class="zf-logo"></div>
                <div class="clearer"></div>
            </div>
            <!-- /zumzi footer item address -->

            <!-- zumzi footer item contact -->
            <div class="zf-item zf-item-contact">
                <div class="zf-icon"></div>
                <div class="zf-text"><a href="/support.html" style="font-size: 17px;">Suport clienti</a>
                    <a class="zf-link-small" href="/support.html">Intrebari frecvente</a>
                </div>
            </div>
            <!-- /zumzi footer item contact -->
        </div>
        <!-- /zumzi footer box left -->
        <!-- zumzi footer box middle -->
        <div class="zf-box zf-box-m">
            <div class="zf-item zf-item-links zf-item-m">
                <h6>Linkuri utile</h6>
                <a href="/terms.html">Termeni si conditii »</a>
                <a href="/privacy.html">Confidentialitate »</a>
                <div class="clearer"></div>
            </div>
            <div class="clearer"></div>
            <div class="zf-item zf-item-hosted">
                Toate drepturile asupra materialelor aparţin SRL Best Coupon ©2013
            </div>
        </div>
        <!-- /zumzi footer box middle -->
        <!-- zumzi footer box right -->
        <div class="zf-box zf-box-r">
            <div class="zf-box-r-l"></div>
            <!-- zumzi footer item follow -->
            <div class="zf-item zf-item-follow">
                <div class="zf-text">Urmareste </div><div class="zf-image zf-image-zum"></div><div class="zf-text"> pe:</div>
                <span class="icon_image_container">
                    <a class="zf-image zf-image-facebook"     href="#/feeds/facebook"       target="_blank" title="Urmareste-ne pe Facebook"></a>
                    <a class="zf-image zf-image-twitter"      href="#/feeds/twitter"        target="_blank" title="Urmareste-ne pe Twitter"></a>
                    <a class="zf-image zf-image-rss"          href="#/feeds/rss"            target="_blank" title="Urmareste-ne pe RSS"></a>
                    <a class="zf-image zf-image-odnoklasniki" href="#/feeds/odnoklasniki"   target="_blank" title="Urmareste-ne pe Odnoklasniki"></a>
                    <a class="zf-image zf-image-vkontakte"    href="#/feeds/vkontakte"      target="_blank" title="Urmareste-ne pe Vkontakte"></a>
                    <a class="zf-image zf-image-youtube"      href="#/feeds/vkontakte"      target="_blank" title="Urmareste-ne pe Youtube"></a>
                </span>
                <div class="clearer"></div>
            </div>
        </div>
        <!-- /zumzi footer box right -->
    </div>
</div>