{% extends "bestcoupon_base.html" %}

{% block title %}BestCoupon - Support Clienti{% endblock %}

{% block extra-head %}
        <meta name="description" content="BestCoupon - Invata sa economisesti cu noi. Cupoane printabile, oferte, promotii si altele pentru a te bucura de viata.">
        <meta name="keywords" content="Cupon, Coupon, reduceri, chisinau, moldova, oferte, ieftin, revista, publicatie, gratis">
        <meta name="viewport" content="width=device-width">
{% endblock %}

{% block css %}
        <link rel="stylesheet" href="/static/bestcoupon/css/boilerplate-normalize.css">
        <link rel="stylesheet" href="/static/bestcoupon/css/boilerplate-main.css">
        <link rel="stylesheet" href="/static/bestcoupon/css/coupons-5d.css">
        <link rel="stylesheet" href="/static/bestcoupon/css/bestcoupon.css">
        <link rel="stylesheet" href="/static/bestcoupon/css/zm-footer.css">
{% endblock %}

{% block preload_js %}
        <script src="/static/bestcoupon/js/vendor/modernizr.min.js?v=31-Jan-2012"></script>
{% endblock %}

{% block js_bottom %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/bestcoupon/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/static/bestcoupon/js/vendor/jquery.ba-hashchange.js"></script>
    <script src="/static/bestcoupon/js/bestcoupon-paragraph.js"></script>
{% endblock %}

{%  block body_class %}{% endblock %}

{% block bcBody %}
    <div class="paragraph support">
        <div class="title">Intrebari Frecvente</div>
        <a class="title online" href="#online" id="online">BestCoupon.md</a>
        <div class="online">
            <p>
                <em>
                    1. Cat costa publicarea unui cupon pe site-ul dvs.?
                </em>
            </p>
            <p>
                Publicarea cuponului este oferita gratis.
            </p>
            <p>
                <em>
                    2. Pot sa public doar un cupon, sau mai multe?
                </em>
            </p>
            <p>
                Puteti publica cate cupoane doriti.
            </p>
            <p>
                <em>
                    3. Cuponul meu poate sa iasa in evidenta fata de altele?
                </em>
            </p>
            <p>
                Da. Cuponul Dvs. va aparea in banda din dreapta destinata si zonei de reclame
                (banda care este vizibila in toate paginile website-ului).
                Pentru aceasta optiune, costul este de 1 Euro/cupon (TVA inclus).
            </p>
            <p>
                <em>
                    4. Reprezentantul Dvs. ma va ajuta sa formez un cupon eficient?
                </em>
            </p>
            <p>
                Da. Echipa noastra de designeri are mare experienta in crearea cupoanelor care capteaza privirea si
                care o sa promoveze imaginea si produsele/serviciile pe care le comercializati,
                insa trebuie sa aveti in vedere ca cel mai important lucru pentru cumparatori sunt reducerile
                cat mai mari nu pozele frumoase.
            </p>

        </div>

        <a class="title offline" href="#offline" id="offline">Revista Best Coupon</a>
        <div class="offline">
            <p>
                <em>
                    1. Revista CUPONT apare in orasul meu?
                </em>
            </p>
            <p>
                Revista CUPONT apare in orasele Timisoara si Cluj-Napoca. In curand va ajunge
                si in celelalte orase ale tarii!
            </p>
            <p>
                <em>
                    2. Pot sa public cuponul cu reducere doar in zona mea sau si in tot orasul?
                </em>
            </p>
            <p>
                Este alegerea dvs. daca doriti sa va promovati produsele intr-o singura zona sau in tot orasul.
                Noi va oferim posibilitatea sa apareti in 10.000 de case (1 zona),
                in 20.000 de case (2 zone) sau in 30.000 de case (3 zone) din orasul dvs.
                Daca optati pentru mai mult de o zona, beneficiati de discounturi.
                Mai multe zone inseamna discount mai mare.
            </p>
            <p>
                <em>
                    3. Trebuie sa fac contract pe o perioada mai lunga?
                </em>
            </p>
            <p>
                Nu. Puteti alege perioada pentru care sa fie publicat cuponul, perioada minima fiind o luna (o aparitie).
                Si in acest caz puteti beneficia de discounturi daca
                alegeti o perioada mai lunga. Cu cat este mai lunga perioada, cu atat este mai mare discountul.
            </p>
        </div>

    </div>
{% endblock %}