{% extends "bestcoupon_base.html" %}

{% block title %}BestCoupon - Despre Noi{% endblock %}

{% block extra-head %}
        <meta name="description" content="BestCoupon - Invata sa economisesti cu noi. Cupoane printabile, oferte, promotii si altele pentru a te bucura de viata.">
        <meta name="keywords" content="Cupon, Coupon, reduceri, chisinau, moldova, oferte, ieftin, revista, publicatie, gratis">
        <meta name="viewport" content="width=device-width">
{% endblock %}

{% block css %}
        <link rel="stylesheet" href="/static/bestcoupon/css/boilerplate-normalize.css">
        <link rel="stylesheet" href="/static/bestcoupon/css/boilerplate-main.css">
        <link rel="stylesheet" href="/static/bestcoupon/css/coupons-5d.css">
        <link rel="stylesheet" href="/static/bestcoupon/css/bestcoupon.css">
        <link rel="stylesheet" href="/static/bestcoupon/css/zm-footer.css">
{% endblock %}

{% block preload_js %}
        <script src="/static/bestcoupon/js/vendor/modernizr.min.js?v=31-Jan-2012"></script>
{% endblock %}

{% block js_bottom %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/static/bestcoupon/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="/static/bestcoupon/js/vendor/jquery.ba-hashchange.js"></script>
        <script src="/static/bestcoupon/js/bestcoupon-paragraph.js"></script>
{% endblock %}

{%  block body_class %}{% endblock %}

{% block bcBody %}

    <div class="paragraph about">
        <div class="title">Despre Noi</div>
        <a class="title online" href="#online" id="online">BestCoupon.md</a>
        <div class="online">
            <p>Acum  rasfoieste <em>Revista Best Coupon</em> online!</p>
            <p>Suntem mereu in cautare  de noi modalitati de livrare a <em>Revista Best Coupon</em>  pentru  tine.</p>
            <p>
                Ai pierdut ultimul numar al revistei? / Ti-a furat vecinul  revista din cutia postala in
                timp ce erai la serviciu? Daca din oricare motive Revista nu a ajuns in miinele tale,
                nu-ti face griji, prin intermediul site-lui nostru ai parte de aceleasi cupoane  de reducere si oferte.
                Tie iti revine doar sa alegi cuponul  si printeaza gratuit.
            </p>
            <p>
                <img src="/static/bestcoupon/img/jpg/how-to.jpg"
                     width="920"
                     height="200"
                     alt="how to use bestcoupon.md"/>
            </p>
        </div>

        <a class="title offline" href="#offline" id="offline">Revista Best Coupon</a>
        <div class="offline">

             <object style="width:352px;height:330px; float: right;">
                 <param value="http://static.issuu.com/webembed/viewers/style1/v1/IssuuViewer.swf?mode=embed&amp;layout=http%3A%2F%2Fskin.issuu.com%2Fv%2Flight%2Flayout.xml&amp;showFlipBtn=true&amp;documentId=130125101311-ad6eb803b5c746808e26aec56da047a3&amp;docName=26_feb2013&amp;username=15minute&amp;loadingInfoText=15%20minute%20%2F%20februarie%202013&amp;et=1359112133460&amp;er=44" name="movie">
                 <param value="true" name="allowfullscreen">
                 <param value="false" name="menu">
                 <param value="always" name="allowscriptaccess">
                 <embed flashvars="mode=embed&amp;layout=http%3A%2F%2Fskin.issuu.com%2Fv%2Flight%2Flayout.xml&amp;showFlipBtn=true&amp;documentId=130125101311-ad6eb803b5c746808e26aec56da047a3&amp;docName=26_feb2013&amp;username=15minute&amp;loadingInfoText=15%20minute%20%2F%20februarie%202013&amp;et=1359112133460&amp;er=44"
                        style="width:352px;height:330px"
                        menu="false" allowscriptaccess="always"
                        allowfullscreen="true"
                        type="application/x-shockwave-flash"
                        src="http://static.issuu.com/webembed/viewers/style1/v1/IssuuViewer.swf">
             </object>

            <p>
                <em>Revista Best Coupon</em> este o publicatie dedicata exclusiv  ofertelor si promotiilor, fiind alcatuita doar
                din cupoane de reduceri, promotii, cadouri sau bonusuri.
            </p>
            <p>
                Fara articole si fara reclame, <em>Revista Best Coupon</em> ofera cumparatorilor ce ii intereseaza cel
                mai mult : cadouri  sau reduceri la tot felul de produse,
                de la mincare, haine, medicamente, pina la servicii de tot felul,
                ceea ce o face sa fie foarte indragita de consumatori.
            </p>
            <p>
                Revista apare lunar cu un tiraj de 50.000 exemplare si este distribuita gratuit locuitorilor
                or. Chisinau in cutiile  postale la inceputul fiecarei perioade promotionala.
            </p>
            <p>
                Avantaje oferite de <em>Revista Best Coupon</em>:
            </p>
            <ul>
                <li>
                    pretul mult mai mic fata de alte modalitati de promovare;
                </li>
                <li>
                    publicitatea prin posta este cea mai directa forma de publicitate si cu cel mai puternic impact asupra consumatorilor;
                </li>
                <li>
                    distributie gratuita;
                </li>
                <li>
                    afisarea reducerilor pe geamul magazinului este observata doar de cei care trec pe langa magazin.
                    <em>Revista Best Coupon</em> va duce oferta in mii de case, recompensandu-i pe cumparatorii care vin la magazine,
                    spre deosebire de cei care se plimba prin fata magazinului.
                </li>
            </ul>
            <p>
                Revista este un instrument important de promovare aflat la indemina retailer-ilor.
                Impactul acesteaia asupra consumatorilor este impresionant.
                Practic “Revista Vinde!” Un produs inclus intr-o revista promotionala, insotit de o oferta atractiva,
                poate vizibil influenta volumul vinzarilor acestuia.
            </p>
            <p>
                Clientii <em>Revistei Best Coupon</em> sunt antreprernorii sau retailer-ii care au o promotie,
                o perioada de reduceri,ofera anumite servicii sau pur si simplu au nevoie de o promovare.
            </p>
        </div>

    </div>
{% endblock %}

{# hunday ivtek #}