
                    <div class="mod-header">
                        <a title="Return to the homepage"
                           class="company-logo"
                           href="/">
                            <img width="338"
                                 height="71"
                                 src="/static/bestcoupon/img/svg/bestcoupon_header_logo.svg"
                                 alt="BestCoupon.md"></a>

                        <div class="navbar">
                            <div class="tab-container">
                                <ul class="tablist horizontal-list">
                                    <li class="tab first{% if active == "coupons" %} selected{% endif %}">
                                        <a href="/coupons/">Coupons</a>
                                    </li>
                                    <li class="tab{% if active == "about" %} selected{% endif %}">
                                        <a href="/about.html">About</a>
                                    </li>
                                    <li class="tab">
                                        <a href="#/blog/">Blog</a>
                                    </li>
                                    <li class="tab{% if active == "online" %} selected{% endif %}">
                                        <a href="/online/">Online</a>
                                    </li>
                                    <li class="tab last {% if active == "contact" %} selected{% endif %}">
                                        <a href="/contact.html">Contact</a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div> <!-- .mod-header -->
