<div class="mod-couponcarrier">
    <h1 class="welcome">
        <span class="headline">
            <b style="color: RED;">217</b>cupoane disponibile. </span>
        <span class="text"><em>Alege</em>, <em>Printeaza</em>, <em>Economisește</em></span>
    </h1>
    <form action="/print/" method="POST" id="print-button">
        <input type="hidden" name="pipped_ids" id="pipped-ids" value=""/>

        <button type="button" class="print-button clipped-none" id="c-counter">
            <span class="title sprite-icons">Print Coupons</span>
            <span id="c-counter-click">0</span>
        </button>

        <button type="button" class="print-button clipped-none" id="c-unclip-all">
            <span id="c-unclip-all-click">×</span>
        </button>

    </form>
</div>