{% extends "bestcoupon_base.html" %}

{% block title %}BestCoupon - Termeni si conditii{% endblock %}

{% block extra-head %}
        <meta name="description" content="BestCoupon - Invata sa economisesti cu noi. Cupoane printabile, oferte, promotii si altele pentru a te bucura de viata.">
        <meta name="keywords" content="Cupon, Coupon, reduceri, chisinau, moldova, oferte, ieftin, revista, publicatie, gratis">
        <meta name="viewport" content="width=device-width">
{% endblock %}

{% block css %}
        <link rel="stylesheet" href="/static/bestcoupon/css/boilerplate-normalize.css">
        <link rel="stylesheet" href="/static/bestcoupon/css/boilerplate-main.css">
        <link rel="stylesheet" href="/static/bestcoupon/css/coupons-5d.css">
        <link rel="stylesheet" href="/static/bestcoupon/css/bestcoupon.css">
        <link rel="stylesheet" href="/static/bestcoupon/css/zm-footer.css">
{% endblock %}

{% block preload_js %}
        <script src="/static/bestcoupon/js/vendor/modernizr.min.js?v=31-Jan-2012"></script>
{% endblock %}

{% block js_bottom %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/bestcoupon/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/static/bestcoupon/js/vendor/jquery.ba-hashchange.js"></script>
    <script src="/static/bestcoupon/js/bestcoupon-paragraph.js"></script>
{% endblock %}

{%  block body_class %}{% endblock %}

{% block bcBody %}
    <div class="paragraph">
        <div class="title">Termeni si conditii</div>
        <div>
            <p>Bine ati venit pe site-ul www.zumzi.md. Va rugam sa cititi cu atentie termenii si conditiile de utilizare ale acestui website prezentate mai jos. Accesul/vizitarea acestui website de catre dumneavoastra se supune Termenilor si conditiilor de utilizare, implica acceptul explicit al dumneavoastra cu privire la acestia si reprezinta intreaga intelegere (contractul) dintre parti. </p>
            <p>ICS Zumzi SRL, denumita generic in cele ce urmeaza zumzi/autor, in calitate de autor/proprietar/administrator al website-ului www.zumzi.md isi rezerva dreptul de a schimba si actualiza in orice moment continutul acestui website, precum si Politica de confidentialitate si Termenii de utilizare, fara nici un fel de notificare prealabila. De aceea, va rugam sa vizitati periodic aceasta sectiune pentru a verifica termenii si conditiile pe care ati agreat sa le respectati. </p>
        </div>



    </div>
{% endblock %}