<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        {# design from  http://www.coupons.com #}
        {# Place favicon.ico and apple-touch-icon.png in the root directory #}

        <title>{% block title %}{% endblock %}</title>

        {% block extra-head %}
        {% endblock %}

        {% block css %}
        {% endblock %}

        {% block preload_js_top %}
        {% endblock %}

    </head>

    <body class="" style="background-color: rgb(76, 124, 138);">
        <!--[if lt IE 7]>
        <p class="chromeframe">
            You are using an <strong>outdated</strong> browser.
            Please <a href="http://browsehappy.com/">upgrade your browser</a> or
            <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a>
            to improve your experience.
        </p>
        <![endif]-->

        <div class="wrapper">
            <div class="shadow">
                <div id="header">
                    {% include "./bestcoupon_header.html" %}
                </div>
                <div id="content">
                    {% block bcBody %}{% endblock %}
                </div>
                <div id="footer">
                    {% include "./bestcoupon_footer.html" %}
                </div>
            </div>

            <div id="left-advert">
                <a href="http://buckscountyfoodtours.com/">
                    <img id="left-advert-1" src="/static/bestcoupon/img/png/left-advert-1.png" alt=""/>
                </a>
                <a href="http://www.mcdonalds.md/">
                    <img id="left-advert-2" src="/static/bestcoupon/img/png/left-advert-2.png" alt=""/>
                </a>
            </div>
            <div id="right-advert">
                <a href="http://buckscountyfoodtours.com/">
                    <img id="right-advert-1" src="/static/bestcoupon/img/png/right-advert-1.png" alt=""/>
                </a>
                <a href="http://www.cutefoodforkids.com/2012/02/51-rainbow-food-ideas-for-st-patricks.html">
                    <img id="right-advert-2" src="/static/bestcoupon/img/png/right-advert-2.png" alt=""/>
                </a>
            </div>
        </div>
        {% block js_bottom %}
        {% endblock %}
    </body>
</html>