{% extends "bestcoupon_base.html" %}

{% block title %}BestCoupon - Printeaza{% endblock %}

{% block extra-head %}
        <meta name="description" content="BestCoupon - Invata sa economisesti cu noi. Cupoane printabile, oferte, promotii si altele pentru a te bucura de viata.">
        <meta name="keywords" content="Cupon, Coupon, reduceri, chisinau, moldova, oferte, ieftin, revista, publicatie, gratis">
        <meta name="viewport" content="width=device-width">
{% endblock %}

{% block css %}
        <link rel="stylesheet" href="/static/bestcoupon/css/boilerplate-normalize.css">
        <link rel="stylesheet" href="/static/bestcoupon/css/boilerplate-main.css">
        <link rel="stylesheet" href="/static/bestcoupon/css/coupons-5d.css">
        <link rel="stylesheet" href="/static/bestcoupon/css/bestcoupon.css">
        <link rel="stylesheet" href="/static/bestcoupon/css/zm-footer.css">
        <link rel="stylesheet" href="/static/bestcoupon/css/bestcoupon-print.css" media="print" type="text/css">

{% endblock %}

{% block preload_js %}
        <script src="/static/bestcoupon/js/vendor/modernizr.min.js?v=31-Jan-2012"></script>
{% endblock %}

{% block js_bottom %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/static/bestcoupon/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="/static/bestcoupon/js/vendor/jquery.ba-hashchange.js"></script>
        <script src="/static/bestcoupon/js/bestcoupon.js"></script>
        <script src="/static/bestcoupon/js/bestcoupon-paragraph.js"></script>
{% endblock %}

{%  block body_class %}{% endblock %}

{% block bcBody %}
    <div class="paragraph print">
        <div class="title">Printeaza</div>
        <div>
            {% if clipped %}
                <p>
                    Ura ! putem printa urmatoarele cupoane
                </p>
                <ul>
                    {% for clip in clipped %}

                        <li id="coupon-{{ clip.id }}" class="coupon-print" {% if forloop.counter != 1 and forloop.counter|add:2|divisibleby:"3" %}style="page-break-before: always"{% endif %}>
                                    <img width="80"
                                         height="100"
                                         class="cuppon-img"
                                         alt="cuppon"
                                         src="/static/bestcoupon/img/gif/sample/{{ clip.id }}.gif" />

                                    <div class="expire">Expira {{ clip.date }}</div>

                                    <img height="90"
                                         class="qr-img"
                                         alt="qr"
                                         src="/static/bestcoupon/img/svg/qr-code-example.svg" />


                                    <h5 class="brand">{{ clip.brand }}</h5>
                                    <div class="address">Stefan cel Mare 122, Chisinau</div>
                                    <div class="tel">Tel: 55-66-77</div>
                                    <div class="www">www.viorica-cosmetics.md</div>
                                    <h4 class="summary">
                                        {% if clip.amount.percent %}
                                            {{ clip.amount.percent }}% Reducere {{ clip.details_include }}
                                        {% else %}
                                            Reducere {{ clip.amount.value }} lei
                                        {% endif %}

                                    </h4>
                                    {% if clip.details_exclude %}
                                        <p class="details_exclude">* {{ clip.details_exclude }}</p>
                                    {% else %}
                                        <p class="details_exclude">&nbsp;</p>
                                    {% endif %}

                            {% comment %}
                            <img height="60"
                                 class="shtrih-img"
                                 alt="shtrih"
                                 src="/static/bestcoupon/img/png/shtrih-code.png" />
                           {% endcomment %}


                            <img class="print-checkbox checked"
                                 alt="checkbox"
                                 src="/static/bestcoupon/img/svg/bestcoupon-checkbox-checked.svg" />

                            <img class="print-checkbox unchecked"
                                 alt="checkbox"
                                 src="/static/bestcoupon/img/svg/bestcoupon-checkbox-unchecked.svg" />

                            <img class="print-cancel-stamp"
                                 alt="cancel stamp"
                                 src="/static/bestcoupon/img/svg/bestcoupon-cancel-stamp.svg" />
                        </li>
                    {% endfor %}
                </ul>
                    <button id="final-print-button">
                        Printează
                        <img src="/static/bestcoupon/img/svg/human-gnome-dev-printer.svg"
                             width="30"
                             height="30"
                             alt="printer for bestcoupon.md" />
                    </button>
                    <span id="print-share-link">
                        Distribuie:
                        <img src="/static/bestcoupon/img/svg/bestcoupon-icon-facebook.svg" alt="facebook"/>
                        <img src="/static/bestcoupon/img/svg/bestcoupon-icon-twitter.svg" alt="twitter"/>
                        <img src="/static/bestcoupon/img/svg/bestcoupon-icon-vkontakte.svg" alt="vkontakte"/>
                        <img src="/static/bestcoupon/img/svg/bestcoupon-icon-odnoklasniki.svg" alt="odnoklasniki"/>
                    </span>
                    <form action="/print/" method="POST" id="print-button" style="display: none">
                        <input type="hidden" name="pipped_ids" id="pipped-ids" value=""/>
                    </form>

            {% else %}
                <p>
                    Din pacate nu putem printa nimic, URL-ul este gresit sau nu mai este valabil!
                </p>
                <p>
                    Try this
                </p>
                <p>
                    <img src="/static/bestcoupon/img/jpg/how-to.jpg"
                         width="920"
                         height="200"
                         alt="how to use bestcoupon.md"/>
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}