{% extends "bestcoupon_base.html" %}

{% block title %}BestCoupon - Rasfoieste revista{% endblock %}

{% block extra-head %}
        <meta name="description" content="BestCoupon - Invata sa economisesti cu noi. Cupoane printabile, oferte, promotii si altele pentru a te bucura de viata.">
        <meta name="keywords" content="Cupon, Coupon, reduceri, chisinau, moldova, oferte, ieftin, revista, publicatie, gratis">
        <meta name="viewport" content="width=device-width">
{% endblock %}

{% block css %}
        <link rel="stylesheet" href="/static/bestcoupon/css/boilerplate-normalize.css">
        <link rel="stylesheet" href="/static/bestcoupon/css/boilerplate-main.css">
        <link rel="stylesheet" href="/static/bestcoupon/css/coupons-5d.css">
        <link rel="stylesheet" href="/static/bestcoupon/css/bestcoupon.css">
        <link rel="stylesheet" href="/static/bestcoupon/css/zm-footer.css">
{% endblock %}

{% block preload_js %}
        <script src="/static/bestcoupon/js/vendor/modernizr.min.js?v=31-Jan-2012"></script>
{% endblock %}

{% block js_bottom %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/static/bestcoupon/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="/static/bestcoupon/js/vendor/jquery.ba-hashchange.js"></script>
        <script src="/static/bestcoupon/js/bestcoupon-paragraph.js"></script>
{% endblock %}

{%  block body_class %}{% endblock %}

{% block bcBody %}
    <div class="paragraph">
        <div class="title">Rasfoieste Revista</div>
        <div>
            <div data-configid="0/1437956" style="width: 525px; height: 371px;" class="issuuembed"></div>
            <script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
        </div>
    </div>
{% endblock %}