{% extends "bestcoupon_base.html" %}

{% block title %}Revista Cupoanelor de Reduceri{% endblock %}

{% block extra-head %}
        <meta name="description" content="BestCoupon - Invata sa economisesti cu noi. Cupoane printabile, oferte, promotii si altele pentru a te bucura de viata.">
        <meta name="keywords" content="Cupon, Coupon, reduceri, chisinau, moldova, oferte, ieftin, revista, publicatie, gratis">
        <meta name="viewport" content="width=device-width">
{% endblock %}

{% block css %}
        <link rel="stylesheet" href="/static/bestcoupon/css/boilerplate-normalize.css">
        <link rel="stylesheet" href="/static/bestcoupon/css/boilerplate-main.css">
        <link rel="stylesheet" href="/static/bestcoupon/css/coupons-5d.css">
        <link rel="stylesheet" href="/static/bestcoupon/css/bestcoupon.css">
        <link rel="stylesheet" href="/static/bestcoupon/css/zm-footer.css">
{% endblock %}

{% block preload_js %}
        <script src="/static/bestcoupon/js/vendor/modernizr.min.js?v=31-Jan-2012"></script>
{% endblock %}

{% block js_bottom %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/static/bestcoupon/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="/static/bestcoupon/js/vendor/coupons-68b.js"></script>
        <script src="/static/bestcoupon/js/bestcoupon.js"></script>
{% endblock %}

{%  block body_class %}{% endblock %}

{% block bcBody %}
                    <div id="main">

                        <div class="mod-stalker" >
                            {% include "./bestcoupon_pattern_portamento_progress_bar.html" %}
                            {% include "./bestcoupon_pattern_portamento_menu.html" %}
                        </div>

                        <div class="mod-gallery">

                            <div class="pages">

                                <div class="page">
                                    <div class="line row">
                                        <div class="column grid_2">
                                            <div class="row">
                                                <div class="column grid_2">
                                                    <div class="mod-offeroftheweek">
                                                        <div id="coupon-{{ rows.0.id }}" class="pod coupon">
                                                            <div class="left">
                                                                <div class="pod-media">
                                                                    <div class="img">
                                                                        <img width="80"
                                                                             height="100"
                                                                             class="pod-image playback"
                                                                             alt="Play"
                                                                             src="/static/bestcoupon/img/gif/sample/{{ rows.0.id }}.gif" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="right">
                                                                <div class="pod-info">
                                                                    {% if rows.0.amount.percent %}
                                                                        {{ rows.0.amount.percent }}% Reducere
                                                                    {% else %}
                                                                        Reducere {{ rows.0.amount.value }} lei
                                                                    {% endif %}
                                                                    <h5 class="brand">{{ rows.0.brand }}</h5>
                                                                    <p class="details">{{ rows.0.details_include }}</p>
                                                                </div>
                                                            </div>
                                                            <h3 class="sprite-pod badge"></h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row adv-member">
                                                <div class="column grid_2">
                                                    <div data-popup="0" data-inhouse="1" class="mod-ads container-620x115">
                                                        <a href="#member"><img
                                                                src="/static/bestcoupon/img/png/wide-advert.png"
                                                                class="like_iframe"
                                                                width="620"
                                                                height="115"
                                                                alt="" /></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column grid_1">
                                            <div data-popup="0" data-inhouse="0" class="mod-ads container-300x250">
                                                <a href="#advert_club"><img
                                                        src="/static/bestcoupon/img/jpg/square-advert.jpg"
                                                        class="like_iframe"
                                                        width="300"
                                                        height="250"
                                                        alt=""/></a>
                                            </div>
                                        </div>
                                    </div>

                                    {% for cell in rows|slice:"1:" %}
                                        {% if forloop.counter|add:"2"|divisibleby:"3" %}<div class="line row iteration">{% endif %}
                                            <div class="column grid_1">
                                                {% if forloop.counter == 3 %}
                                                    <div id="coupon-{{ cell.id }}" class="pod coupon featured" >
                                                        <div class="hd">
                                                            <p>Featured Today</p>
                                                        </div>
                                                        <div class="left">
                                                            <div class="pod-media">
                                                                <div class="img">
                                                                    <img width="80"
                                                                         height="100"
                                                                         class="pod-image playback"
                                                                         alt="Play"
                                                                         src="/static/bestcoupon/img/gif/sample/{{ cell.id }}.gif" />
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="right">
                                                            <div class="pod-info">
                                                                <h4 class="summary">
                                                                    {% if cell.amount.percent %}
                                                                        {{ cell.amount.percent }}% Reducere
                                                                    {% else %}
                                                                        Reducere {{ cell.amount.value }} lei
                                                                    {% endif %}

                                                                </h4>
                                                                <h5 class="brand">{{ cell.brand }}</h5>
                                                                <p class="details">{{ cell.details }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    <div id="coupon-{{ cell.id }}" class="pod coupon" >
                                                        <div class="left">
                                                            <div class="pod-media">
                                                                <div class="img">
                                                                    <img width="80"
                                                                         height="100"
                                                                         class="pod-image playback"
                                                                         alt="Play"
                                                                         src="/static/bestcoupon/img/gif/sample/{{ cell.id }}.gif" />
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="right">
                                                            <div class="pod-info">
                                                                <h4 class="summary">
                                                                    {% if cell.amount.percent %}
                                                                        {{ cell.amount.percent }}% Reducere
                                                                    {% else %}
                                                                        Reducere {{ cell.amount.value }} lei
                                                                    {% endif %}

                                                                </h4>
                                                                <h5 class="brand">{{ cell.brand }}</h5>
                                                                <p class="details">{{ cell.details }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% if forloop.counter|divisibleby:"3" or forloop.last %}</div>{% endif %}
                                    {% endfor %}

                                </div>

                            </div>


                            <div class="more">
                                <button class="primary" id="load-more-coupons">Mai multe cupoane</button>
                            </div>

                        </div> <!-- #mod-gallery -->


                    </div> <!-- #main -->

                    <div class="clearfix"></div>


                    <div id="hidden-container">
                        <div id="hidden-container-to-clip">
                            <div class="hover">
                                <div class="sprite-pod circle">
                                    <p class="click-text">Alege Reducerea</p>
                                    <p class="click-text-sec"></p>
                                </div>
                            </div>
                        </div>

                        <div id="hidden-container-undo-clip">
                            <div class="clipped-container">
                                <div class="clipped-view">
                                    <span class="box clip-box clip-action">
                                        <i>✓</i>Ales
                                    </span>
                                    <span class="box clip-box unclip-action">
                                        <i>✕</i>Refuză
                                    </span>
                                    <div class="box share-box">
                                        <i>⇶</i>Distribuie
                                        <div class="social-container">
                                            <div class="social-message">
                                                Share with your friends.
                                            </div>
                                            <div class="social-strip">
                                                <div class="sprite-urban facebook"></div>
                                                <div class="sprite-urban twitter"></div>
                                                <div class="sprite-urban odnoklasniki"></div>
                                                <div class="sprite-urban vkontakte"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

{% endblock %}