<div class="mod-categories {% if menu_collapse %}show-less{% else %}show-more{% endif %}">
    <div class="horizontal-bar"></div>
    <p id="label_popular_categories">Popular Categories</p>
    <ul id="coupon-categories">
        <li id="label_show_all">
            <a href="#/category/all">
                <span>Show All</span> ({{ categories.total_count }})
            </a>
        </li>
        {% for cat_name, cat_val in categories.items.iteritems %}
            <li data-count="{{ cat_val.count }}" data-cat-name="{{ cat_name }}">
                <a href="#/category/{{ cat_name }}">
                    <span>{{ cat_val.lang.ro }}</span> ({{ cat_val.count }})
                </a>
            </li>
        {% endfor %}
    </ul>
    <a class="show-less">Less<span class="triangle triangle-up"></span></a>
    <a class="show-more">More<span class="triangle triangle-down"></span></a>


    <div class="subcategory-outer hidden">
    </div>

    <div class="clearfix"></div>

</div>