* {
    /*
    border:solid 1px BLACK;
    */
}

#header,
#footer,
.paragraph div.title,
.paragraph > span > p,
#final-print-button,
.print .print-checkbox,
#left-advert,
#right-advert,
#print-share-link
{
    display: None;
}

.wrapper .shadow,
.wrapper,
.paragraph {
    padding: 0;
    margin:0,
    box-shadow: 0;
    background:none !important;
}

body {
    background:none !important;
}
.wrapper {
    width: 100%;
}

.print.contact form {
    margin-left: -12345px;
}


