.like_iframe
{
    border-radius: 6px 6px 6px 6px;
    margin: 0 20px 20px 0;
}

.lang_guess_button {
    font-size: 14pt;
}
    .lang_guess_button > a
    {
        border: solid 1px RED;
        padding: 0 4px 0px 2px;
        margin: 2px;
        display: inline-table;
    }



.language_list {
    border: 1px dashed sandybrown;
    margin: 0 30px 30px;
    padding: 10px;
}

#coupon-categories {
    display: inline;
}
    #coupon-categories li {
        display: inline-block;
        width: 160px;
        padding-right: 10px;
    }
        #coupon-categories li a {
            color: #08B4DF;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 12px;
            line-height: 2.2em;
            text-decoration: none;
        }

#label_popular_categories {
    color: #6D6D6D;
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    width: 160px;
    padding-right: 10px;
}

.show-less #label_popular_categories,
.show-more #label_show_all,
.show-more #coupon-categories li,
.show-less a.show-more,
.show-more a.show-less,
.paragraph.online div.offline,
.paragraph.offline div.online,
#hidden-container,
li .print-checkbox.unchecked,
li.unchecked .print-checkbox.checked
{
    display: none;
}

li.unchecked .print-checkbox.unchecked,
li.unchecked .print-cancel-stamp,
.show-more #coupon-categories li.top
{
    display : inline-block;
}




/********** paragraph **********/
.paragraph
{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    padding:  60px 20px 20px 20px;
    position: relative;
    margin-top: 15px;
}
    .paragraph p
    {
        color: #222222;
        font-size: 15px;
        line-height: 1.5;
        margin-bottom: 1.5em;
        margin-top: 1.5em;
        text-align: justify;
        width: 570px;
    }

    .paragraph .title {
        color: #2A9AE0;
        display: block;

        position: absolute;
        top: 0;
        left: 0;

        font-family: "Open Sans Condensed";
        font-size: 15px;
        font-weight: bold;

        height: 39px;
        margin: 0;
        padding: 6px 30px 0;

        text-decoration: none;
        text-shadow: 0 1px 0 #FFFFFF;


        border-left: 1px solid #99DEFD;
        border-right: 1px solid #99DEFD;
        border-top: 1px solid #99DEFD;
    }
        .paragraph div.title {
            color: #222222;
            border: none;
            border-bottom:  1px solid #99DEFD;
            left:  0;
            right: 0;
        }

    .paragraph.support .title.online {
        left: 14em;
    }
    .paragraph.support .title.offline {
        left: 27.2em;
    }

    .paragraph.about .title.online {
        left: 10em;
    }
    .paragraph.about .title.offline {
        left: 23em;
    }

    .paragraph.online .title.online,
    .paragraph.offline .title.offline,
    .paragraph .title.active {
        background: #FFFFFF;
    }

    .paragraph li {
        list-style-type: disc;
        width:570px;
        line-height: 1.5;
        font-size: 15px;
    }

    .paragraph em {
        font-style: italic;
        color: #2A9AE0;
    }

/********** print **********/
.print li {
    border: 1px dashed;
    margin: 1.5cm;
    list-style-type: none;
    position: relative;
    width:15cm;
    height: 6.3cm;
}

.print .expire {
    border: solid 1px;
    border-top: none;
    border-right: none;
    padding: 0 5px;
    float:right;
}
.print .brand
{
    font-size: 140%;
    text-align: center;
    padding-top: 20px;
    margin-left: 135px;;
}

.print .summary {
    font-size: 170%;
    height: 77px;
    overflow: hidden;
    text-align: center;

}
.print .tel,
.print .address,
.print .www,
.print .details_exclude
{
    font-size: 75%;
    text-align: center;
}

.print .details_exclude {
    text-align: left;
    padding-left: 1%;
    margin-bottom: 1%;
}

.print .cuppon-img {
    float: left;
    padding: 5px;
}
.print .qr-img {
    position: absolute;
    right: 0;
    top: 25px;
}

.print-cancel-stamp {
    height: 316px;
    left: 38px;
    position: absolute;
    top: -37px;
    display: none;
}

.print-checkbox {
    bottom: 0;
    height: 45px;
    left: -55px;
    position: absolute;
}

#print-share-link {
    padding-left:60px;
}

/********** ids **********/
#c-unclip-all {
    width: 20px;
    text-align: center;
}

#c-counter {
    right: 24px;
}
#c-counter-click {
    padding-left: 4px;
}


#left-advert,
#right-advert {
    height: 615px;
    width: 150px;
    position: absolute;
    top: 40px;
}
#left-advert {
    left: -153px;
}
#right-advert {
    right: -153px;
}
#left-advert-1,
#left-advert-2,
#right-advert-1,
#right-advert-2{
    height: 307px;
}





#contact-form {
    padding: 40px 0 25px 560px;
    position:relative;
}
    #contact-form img {
        position: absolute;
        top:0;
        left: 0;
    }
    #contact-form form {
        background: transparent;
        position: relative;
    }

    #contact-form input,
    #contact-form textarea
    {
        border:solid 1px RED;
        background-color: transparent;
    }

    #contact-form > p {
        position: relative;
        margin-left: -560px;
    }

#contact-form-submit
{
    margin-left: 305px;
    padding: 5px;
}



.lpad-62 {
    padding-left: 62px;
}
.lpad-30 {
    padding-left: 30px;
}








