/*!
Copyright (c) 2010, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 3.3.0
build: 3167
*/
html {
    color: #000;
    background: #FFF
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset, img {
    border: 0
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal
}

li {
    list-style: none
}

caption, th {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}

q:before, q:after {
    content: ''
}

abbr, acronym {
    border: 0;
    font-variant: normal
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit
}

input, textarea, select {
    *font-size: 100%
}

legend {
    color: #000
}

/*!
Copyright (c) 2010, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 3.3.0
build: 3167
*/
body {
    font: 13px/1.231 arial, helvetica, clean, sans-serif;
    *font-size: small;
    *font: x-small
}

select, input, button, textarea {
    font: 99% arial, helvetica, clean, sans-serif
}

table {
    font-size: inherit;
    font: 100%
}

pre, code, kbd, samp, tt {
    font-family: monospace;
    *font-size: 108%;
    line-height: 100%
}

/*!
 * Copyright (c) 2013 Coupons.com Incorporated. All Rights Reserved.
 */
body {
    background: #fff
}

.wrapper {
    background-color: #fff;
    margin: 0 auto;
    width: 970px;
    position: relative;
}

#header {
    width: 100%
}

#content {
    width: 100%
}

#main {
    width: 100%
}

#footer {
    width: 100%
}

#no-print {
    display: none
}

html {
    background: 0
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #d8e9f0
}

.wrapper {
    background: #faf9f5;
    margin: 0 auto;
    width: 980px
}

.wrapper .shadow {
    background: #faf9f5;
    -webkit-box-shadow: 0 2px 8px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0 2px 8px rgba(50, 50, 50, 0.5);
    box-shadow: 0 2px 8px rgba(50, 50, 50, 0.5)
}

#content {
    position: relative
}

#main, .flyout-outer {
    visibility: visible;
    -webkit-transition: opacity .25s ease-in;
    -moz-transition: opacity .25s ease-in;
    -o-transition: opacity .25s ease-in;
    transition: opacity .25s ease-in
}

.loading #main, .loading .flyout-outer {
    visibility: hidden;
    opacity: 0
}

.loading-overlay {
    background: transparent;
    color: #444;
    font-size: 16px;
    left: 50%;
    margin-left: -40px;
    position: absolute;
    text-align: center;
    top: 125px
}

.loading-overlay p {
    margin-top: 16px;
    margin-left: 12px
}

img[width="1"], img[height="1"] {
    display: none
}

button.primary {
    background: #069ddf;
    background: -moz-linear-gradient(top, #fff 0, #7acbee 2%, #069ddf 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(2%, #7acbee), color-stop(100%, #069ddf));
    background: -webkit-linear-gradient(top, #fff 0, #7acbee 2%, #069ddf 100%);
    background: -o-linear-gradient(top, #fff 0, #7acbee 2%, #069ddf 100%);
    background: -ms-linear-gradient(top, #fff 0, #7acbee 2%, #069ddf 100%);
    background: linear-gradient(to bottom, #fff 0, #7acbee 2%, #069ddf 100%);
    border: 1px solid #099fdf;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    font-weight: bold
}

button.cta-3d {
    cursor: pointer;
    padding: 4px 10px;
    right: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
    font-size: 13px;
    border-radius: 5px;
    box-shadow: 0 1px 2px #a0927d, inset 0 1px white;
    border: 1px solid #099fdf;
    background: #069ddf;
    background: -moz-linear-gradient(top, #7acbee 0, #069ddf 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7acbee), color-stop(100%, #069ddf));
    background: -webkit-linear-gradient(top, #7acbee 0, #069ddf 100%);
    cursor: pointer
}
button.cta-3d.margin-top-5 {
    margin-top: 5px;
}

button::-moz-focus-inner {
    border: 0
}

.txt-offscreen {
    text-indent: -999em
}

.clearfix {
    clear: both;
    overflow: hidden;
    font-size: 0;
    line-height: 0
}

.sprite-icons {
    background-image: url("/static/bestcoupon/img/png/sprite-icon-5.png");
    background-repeat: no-repeat;
}

.sprite-pod {
    background-image: url("/static/bestcoupon/img/png/sprite-pod-2.png");
    background-repeat: no-repeat;
}

.horizontal-list {
    margin: 0 auto;
    padding: 0
}

.horizontal-list li {
    text-align: center;
    display: inline-block;
    list-style: none
}

.triangle {
    border-color: transparent transparent transparent #08b4df;
    border-style: solid;
    border-width: 6px 4px;
    font-size: 0;
    height: 0;
    width: 0;
    position: relative;
    bottom: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7)
}

.triangle-down {
    border-color: #08b4df transparent transparent transparent
}

.triangle-up {
    border-color: transparent transparent #08b4df transparent
}

.hidden {
    display: none
}

.media {
    overflow: hidden;
    _overflow: visible;
    zoom: 1
}

.media .bd {
    overflow: hidden;
    _overflow: visible;
    zoom: 1
}

.media .img {
    float: left;
    margin-right: 10px
}

.media .img img {
    display: block
}

.media .imgExt {
    float: right;
    margin-left: 10px
}

.btn-cta, .cta-button {
    background: #0d95d2;
    background: -moz-linear-gradient(top, #fff 0, #7acbee 2%, #069ddf 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(2%, #7acbee), color-stop(100%, #069ddf));
    background: -webkit-linear-gradient(top, #fff 0, #7acbee 2%, #069ddf 100%);
    background: -o-linear-gradient(top, #fff 0, #7acbee 2%, #069ddf 100%);
    background: -ms-linear-gradient(top, #fff 0, #7acbee 2%, #069ddf 100%);
    background: linear-gradient(to bottom, #fff 0, #7acbee 2%, #069ddf 100%);
    border: 1px solid #099fdf;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    font-family: 'MuseoSans', sans-serif;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #fff;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}

.ui-widget-overlay {
    background-color: #000;
    left: 0;
    opacity: .7;
    filter: alpha(opacity = 70);
    position: absolute;
    top: 0
}

.flyout-outer {
    position: absolute;
    box-shadow: 0 2px 8px rgba(50, 50, 50, 0.5)
}

.flyout-outer .ui-dialog-titlebar {
    display: none
}

.flyout-inner {
    background: #fff;
    border-radius: 6px;
    padding: 20px 20px 40px 20px
}

.flyout-inner h2 {
    font-size: 176.9%;
    color: #333;
    font-weight: bold;
    margin-bottom: 16px;
    display: inline-block
}

.flyout-inner .close-btn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0 none;
    cursor: pointer;
    font-size: 85%;
    top: 7px;
    position: absolute;
    right: 10px;
    text-align: right;
    outline: 0 none;
    font-size: 230.77%;
    color: #333
}

.flyout-inner .close-icon {
    background-position: 0 -305px;
    padding: 3px 4px 0 10px
}

.flyout-inner .btn-cta, .flyout-inner .cta-button {
    background-color: #0d95d2;
    border: solid 1px #0d95d2;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    text-transform: none;
    padding: .2em 1em;
    height: 32px;
    color: #fff;
    font-weight: bold
}

div#noscript-warning {
    border: 5px solid #b0dff5;
    margin: 12px auto;
    padding: 7px 28px;
    width: 466px
}

div#noscript-warning div.noscript-content {
    float: right
}

.grid_1 {
    width: 320px
}

.grid_2 {
    width: 640px
}

.grid_3 {
    width: 935px
}

.column {
    overflow: hidden;
    float: left;
    display: inline
}

.row {
    width: 960px;
    margin: 0 auto;
    overflow: hidden
}

.row .row {
    width: auto;
    display: inline-block
}

@font-face {
    font-family: "RockSaltRegular";
    font-style: normal;
    font-weight: normal;
    src: url("//cdn.cpnscdn.com/static.coupons.com/Sites/fonts/RockSalt-webfont.eot");
    src: url("//cdn.cpnscdn.com/static.coupons.com/Sites/fonts/RockSalt-webfont.eot?#iefix") format("embedded-opentype"), url("//cdn.cpnscdn.com/static.coupons.com/Sites/fonts/RockSalt-webfont.woff") format("woff"), url("//cdn.cpnscdn.com/static.coupons.com/Sites/fonts/RockSalt-webfont.ttf") format("truetype"), url("//cdn.cpnscdn.com/static.coupons.com/Sites/fonts/RockSalt-webfont.svg#RockSaltRegular") format("svg")
}

@font-face {
    font-family: "MuseoSans";
    src: url("//cdn.cpnscdn.com/static.coupons.com/Sites/fonts/MuseoSans_700-webfont.eot");
    src: url("//cdn.cpnscdn.com/static.coupons.com/Sites/fonts/MuseoSans_700-webfont.eot?#iefix") format("embedded-opentype"), url("//cdn.cpnscdn.com/static.coupons.com/Sites/fonts/MuseoSans_700-webfont.svg#webfontkQkWxTED") format("svg"), url("//cdn.cpnscdn.com/static.coupons.com/Sites/fonts/MuseoSans_700-webfont.woff") format("woff"), url("//cdn.cpnscdn.com/static.coupons.com/Sites/fonts/MuseoSans_700-webfont.ttf") format('truetype');
    font-weight: bold;
    font-style: normal
}

.mod-ads {
    overflow: hidden
}

.mod-ads.container-728x90 {
    width: 78%;
    margin: auto;
    display: block;
    margin-top: 20px
}

.mod-gallery .mod-ads.container-300x250 {
    margin: 0 3px;
    padding-top: 4px
}

.mod-gallery .mod-ads.container-620x115 {
    margin-left: 4px;
    margin-top: 10px;
    margin-bottom: -10px
}

.mod-gallery .mod-ads.container-620x115 iframe {
    border-radius: 6px;
    margin: 0 20px 20px 0
}

.mod-ads.container-300x160 {
    margin-bottom: 15px
}

.mod-categories {
    padding: 0 0 3px 0;
    position: relative
}

.mod-categories .horizontal-bar {
    border-top: 1px solid #d4d3d2;
    border-bottom: 1px solid #fdfdf5;
    margin-bottom: 6px
}

.mod-categories .teasers p {
    display: inline;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 11px;
    text-transform: uppercase
}

.mod-categories .teasers ul li {
    margin-left: 18px
}

.mod-categories .teasers .teaser-list {
    display: inline-block;
    width: auto
}

.mod-categories .show-more:hover, .mod-categories .show-less:hover {
    text-decoration: underline
}

.mod-categories .show-more, .mod-categories .show-less {
    cursor: pointer;
    width: auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #08b4df;
    font-size: 12px
}

.mod-categories .show-more, .mod-categories .show-less {
    position: absolute;
    top: 14px;
    right: 8px
}

.mod-categories .show-more .triangle-down {
    bottom: 1px;
    left: 3px
}

.mod-categories .show-less .triangle-up {
    bottom: 8px;
    left: 3px
}

.mod-categories .bd ul {
    text-align: left;
    width: 22.5%
}

.mod-categories .all-categories ul {
    float: left
}

.mod-categories .bd li a {
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #08b4df;
    font-size: 12px;
    line-height: 2.2em
}

.mod-categories .bd li.selected a .title {
    font-weight: bold
}

.mod-categories .bd li a:hover {
    text-decoration: underline
}

.mod-categories .bd li.selected a {
    color: #444
}

.mod-categories.categories-show-teasers .all-categories {
    display: none
}

.mod-categories.categories-show-teasers .teasers {
    display: block
}

.mod-categories.categories-no-teasers .all-categories {
    display: block
}

.mod-categories.categories-no-teasers .teasers {
    display: none
}

.mod-categories .expander {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    bottom: -3px
}

.mod-couponcarrier {
    padding: 16px 0;
    position: relative;
    min-height: 27px
}

.mod-couponcarrier.is-active-user .active-user {
    display: inline-block
}

.mod-couponcarrier.is-active-user .new-user {
    display: none
}

.mod-couponcarrier.is-new-user .active-user {
    display: none
}

.mod-couponcarrier.is-new-user .new-user {
    display: inline-block
}

.mod-couponcarrier .welcome, .mod-couponcarrier .available, .mod-couponcarrier .cart, .mod-couponcarrier .print-button {
    display: inline-block
}

.mod-couponcarrier .available {
    margin-right: 20px;
    vertical-align: middle
}

.mod-couponcarrier .available.local {
    line-height: 29px
}

.mod-couponcarrier .available h3 {
    display: inline-block
}

.mod-couponcarrier .available span {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    font-size: 16px
}

.mod-couponcarrier .available em {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #363636;
    font-size: 16px
}

.mod-couponcarrier .print-button {
    cursor: pointer;
    padding: 6px 7px 6px 7px;
    position: absolute;
    right: 0;
    top: 16px;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;

    color: #fff;
    text-shadow: 0 -1px #a54133;

    border-radius: 3px;
    box-shadow: 0 1px 2px #a0927d, inset 0 1px white;
    border: 1px solid #d33820;
    background: #ef6e5b;
    background: -moz-linear-gradient(top, #ef6e5b 0, #e93b20 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ef6e5b), color-stop(100%, #e93b20));
    background: -webkit-linear-gradient(top, #ef6e5b 0, #e93b20 100%)
}

.mod-couponcarrier .print-button.clipped-none {
    cursor: default;
    color: #999;
    text-shadow: none;
    border: 0;
    background: #d9d9d9
}

.mod-couponcarrier .print-button .title {
    background-position: 0 0;
    padding-left: 24px;
    padding-right: 18px;
    border-right: 1px solid #d12c13;
    box-shadow: 1px 0 #f1806e
}

.mod-couponcarrier .print-button.clipped-none .title {
    background-position: 0 -265px;
    border-right: 1px solid #999;
    box-shadow: 1px 0 #fff
}

.mod-couponcarrier .print-button .separator {
    display: inline-block;
    width: 1px;
    height: 20px;
    background: #d12c13;
    box-shadow: 1px 0 #f1806e;
    vertical-align: middle
}

.mod-couponcarrier .print-button .number {
    display: inline-block;
    text-align: center;
    width: 43px
}

.couponcarrier-transfer-clipped, .couponcarrier-transfer-clipped-with-couponbar {
    z-index: 2
}

.couponcarrier-transfer-clipped-with-couponbar {
    margin-top: -34px
}

.mod-couponcarrier .bar {
    background-color: #d2d2d1;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 1px 3px rgba(100, 100, 100, 0.5) inset;
    height: 25px;
    padding: 2px 0 0 2px;
    width: 300px
}

.mod-couponcarrier .savings-bar {
    background: #63b352;
    background: -moz-linear-gradient(top, #fff 0, #8ac680 2%, #63b352 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(2%, #8ac680), color-stop(100%, #63b352));
    background: -webkit-linear-gradient(top, #fff 0, #8ac680 2%, #63b352 100%);
    background: -o-linear-gradient(top, #fff 0, #8ac680 2%, #63b352 100%);
    background: -ms-linear-gradient(top, #fff 0, #8ac680 2%, #63b352 100%);
    background: linear-gradient(to bottom, #fff 0, #8ac680 2%, #63b352 100%);
    border-radius: 13px 13px 13px 13px;
    color: #fff;
    max-width: 285px;
    min-width: 34px;
    padding: 3px 6px 4px 7px;
    text-align: right;
    width: 0
}

.mod-couponcarrier .savings-bar.clipped-none {
    min-width: 15px
}

.mod-couponcarrier .welcome {
    font-size: 120%;
    line-height: 27px
}

.mod-couponcarrier .welcome .text {
    font-size: 110%;
    color: #333
}

.mod-couponcarrier .welcome .headline {
    font-family: RockSaltRegular;
    text-transform: lowercase;
    color: BLACK;
}

.mod-couponcarrier .welcome em {
    font-weight: bold;
    text-transform: uppercase
}

.mod-fblike {
    display: inline-block;
    background-color: transparent;
    margin-left: 10px;
    vertical-align: middle
}

.mod-fblike iframe {
    border: 0 none;
    overflow: hidden;
    background-color: transparent
}

.featuredtoday.product, .featuredtoday.lifestyle {
    background: #fff;
    border: 1px solid #cdcdcd;
    font-family: “ Helvetica Neue ”, Helvetica, Arial, sans-serif;
    height: 160px;
    margin: 3px 15px 15px 3px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    width: 300px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px
}

.featured .hd,
.featuredtoday.product .hd {
    background: #0ea0e0;
    color: #fff;
    font-size: 76.9%;
    font-weight: bold;
    padding: 8px 0 5px 13px;
    text-transform: uppercase;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-top-right: 6px;
    border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-top-left: 6px;
    border-top-left-radius: 6px
}


.featuredtoday.product .bd {
    margin: 15px
}

.featuredtoday.product .bd img {
    float: left;
    margin-right: 15px
}

.featuredtoday.product .bd .right {
    float: left;
    overflow: hidden
}

.featuredtoday.product h3, .featuredtoday.lifestyle h3 {
    font-size: 123.1%;
    margin: 4px 0 2px 0;
    font-weight: bold;
    color: #444
}

.featuredtoday.product .bd p {
    color: #777;
    font-size: 123.1%;
    font-weight: bold;
    text-transform: uppercase
}

.featuredtoday.product .bd button.cta-3d {
    margin-top: 25px
}

.featuredtoday.lifestyle img {
    border: 0;
    outline: 0;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-top-right: 6px;
    border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-top-left: 6px;
    border-top-left-radius: 6px
}

.featuredtoday.lifestyle p {
    color: #8fc73d;
    font-size: 76.9%;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 6px;
    text-transform: uppercase
}

.featuredtoday.lifestyle h3 {
    margin-left: 15px
}

.featuredtoday.lifestyle button {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 49px;
    border: 1px solid #099fdf;
    background: red;
    background: #069ddf;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7acbee), color-stop(100%, #069ddf));
    background: -webkit-linear-gradient(top, #7acbee 0, #069ddf 100%);
    background: -moz-linear-gradient(top, #7acbee 0, #069ddf 100%);
    background: -ms-linear-gradient(top, #7acbee 0, #069ddf 100%);
    background: -o-linear-gradient(top, #7acbee 0, #069ddf 100%);
    background: linear-gradient(to bottom, #7acbee 0, #069ddf 100%);
    box-shadow: inset 0 1px #fff;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottom-right: 6px;
    border-bottom-right-radius: 6px
}

.featuredtoday.lifestyle button div {
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    border-width: 5px 8px;
    font-size: 0;
    height: 0;
    width: 0;
    position: relative;
    margin: 0 auto;
    left: 5px
}

.featuredtoday.lifestyle h3 {
    margin-top: 2px
}

.mod-footer {
    margin-top: 10px
}

.mod-footer .endorsements {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px
}

.mod-footer .truste {
    background-position: 0 -133px;
    height: 37px;
    width: 90px
}

.mod-footer .bbb {
    background-position: 0 -84px;
    height: 34px;
    width: 90px
}

.mod-footer .endorse {
    display: block;
    margin-left: .5em
}

.mod-footer .ft {
    background: #faf9f5;
    padding-top: 8px;
    padding-left: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #888;
    font-size: 12px
}

.mod-footer .ft a {
    color: #888
}

.pod {
    background: none repeat scroll 0 0 #fff;
    cursor: pointer;
    height: 160px;
    width: 300px;
    border: 1px solid #cdcdcd;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 -4px 0 #e8e8e8 inset;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 -4px 0 #e8e8e8 inset;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 -4px 0 #e8e8e8 inset
}

.pod .hover {
    background-color: rgba(255, 255, 255, 0.75);
    font-family: 'RockSaltRegular';
    height: 155px;
    width: 292px;
    margin-left: 5px;
    visibility: hidden;
    position: absolute;
    text-transform: lowercase;
    overflow: hidden
}

.pod .circle {
    background-repeat: no-repeat;
    background-position: 30px 23px;
    height: 120px;
    width: 295px;
    margin-top: 15px;
    position: absolute
}

.pod.cpc .circle, .pod.video .circle, .pod.duet .circle {
    background-repeat: no-repeat;
    background-position: 18px -88px;
    height: 140px;
    width: 295px;
    position: absolute
}

.pod:hover .hover {
    visibility: visible
}

.pod .hover p {
    transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    color: #222;
    font-size: 1.53em;
    text-align: center
}

.pod .hover p.click-text {
    margin-top: 18%
}

.pod .hover p.click-text-sec {
    font-size: 1em
}

.pod .clipped-container {
    display: none
}

.pod .left {
    float: left;
    overflow: hidden;
    width: 37%;
    height: 160px
}

.pod .right {
    float: right;
    overflow: hidden;
    width: 63%;
    height: 160px
}

.pod .pod-media {
    height: 100px;
    margin: 10px 0 0 3px;
    width: 80px
}

.pod .pod-info {
    margin: 15px 15px 0 0
}

.pod .right .pod-info .summary {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #08b4df;
    font-size: 16px;
    text-transform: uppercase
}

.brand {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #444;
    font-size: 16px
}

.details {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #777;
    font-size: 13px;
    line-height: 16px
}

.pod .premium-label {
    position: absolute;
    top: -3px;
    left: -3px;
    padding: 6px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 9px;
    text-transform: uppercase;
    z-index: 1;
    background: #b71c16;
    border-radius: 6px;
    display: none
}

.pod.premium .premium-label {
    display: block
}

.video-close-effects-transfer, .video-close-effects-transfer-clipped {
    background: #fff;
    border: 1px solid #cdcdcd;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    opacity: .7;
    filter: alpha(opacity = 70)
}

.pod .clipped-container span.unclip-action {
    border-right: 1px solid #36799f
}



.pod.premium .right .pod-info .summary {
    color: #b71c16
}

.pod.premium .clipped-container span.unclip-action {
    border-right: 1px solid #a11919
}

.pod.premium .clipped-container span.share-box {
    border-right: 1px solid #a11919
}

.pod.limited .hover {
    display: none
}

.pod.limited .right .pod-info .summary {
    color: #6a6a6a
}

.pod.limited .clipped-container {
    display: block;
    background-position: 0 -738px
}

.pod.limited .clipped-container span.clip-box {
    margin-left: 25px;
    letter-spacing: 2px
}

.pod.clipped, .pod.limited {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2)
}


.pod.clipped .hover {
    display: none
}


.pod.clipped:hover .left, .pod.limited:hover .left {
    opacity: .30;
    filter: alpha(opacity = 70)
}

.pod.clipped:hover .right,
.pod.limited:hover .right {
    opacity: .34;
    filter: alpha(opacity = 70)
}

.pod.clipped .right .pod-info .summary {
    color: #6a6a6a
}

.pod.clipped .clipped-container,
.pod.limited .clipped-container
{
    background-image: url("/static/bestcoupon/img/png/sprite-pod-2.png");
    color: white;
    display: block;
    font: .923em/35px "RockSaltRegular";
    height: 32px;
    position: absolute;
    margin-top: 116px;
    vertical-align: middle;
    width: 300px
}

.pod.clipped.featured .clipped-container {
    margin-top: 92px;
}

.pod.clipped .clipped-container {
    background-position: 0 -478px
}

.pod.clipped .clipped-container .clipped-view, .pod.limited .clipped-container .clipped-view {
    height: 40px;
    overflow: hidden;
    width: 100px
}

.pod.limited .clipped-container .clipped-view {
    width: 175px
}

.pod.clipped .clipped-container .box,
.pod.limited .clipped-container .box {
    display: inline-block;
    letter-spacing: 2px;
    line-height: 18px;
    padding: 0 9px;
    text-align: right
}

.pod.premium.clipped .clipped-container {
    background-position: 0 -611px
}

.pod.clipped.premium:hover .clipped-container {
    color: #a11919
}

.pod.clipped .clipped-container span.clip-action {
    display: inline-block
}

.pod.clipped:hover .clipped-container span.clip-action {
    display: none
}

.pod.clipped .clipped-container span.unclip-action {
    display: none
}

.pod.clipped:hover .clipped-container span.unclip-action {
    display: inline-block
}

.pod.clipped .clipped-container .share-box .social-container,
.pod.clipped .clipped-container .more-box .more-container,
.pod.limited .clipped-container .share-box .social-container,
.pod.limited .clipped-container .more-box .more-container {
    background-color: white;
    display: none;
    height: 109px;
    left: 2px;
    position: absolute;
    text-align: left;
    top: -109px;
    width: 296px
}

.pod.clipped .clipped-container .more-box .more-container {
    color: black
}

.pod.clipped:hover .clipped-container .clipped-view, .pod.limited:hover .clipped-container .clipped-view {
    width: 100%
}

.pod.clipped:hover .clipped-container {
    color: #36799f
}

.pod.limited:hover .clipped-container {
    color: #6a6a6a
}

.pod.clipped .clipped-container span:hover,
.pod.limited .clipped-container span:hover {
    color: white
}

.pod.clipped.show-share .share-box .social-container,
.pod.limited.show-share .share-box .social-container,
.pod.clipped.show-more .more-box .more-container,
.pod.limited.show-more .more-box .more-container {
    display: block
}

.pod.show-share:hover .left,
.pod.show-share:hover .right,
.pod.show-more:hover .right,
.pod.show-more:hover .left {
    opacity: 0;/**/
}

.pod.limited:hover .clipped-container .clipped-view .limit-action {
    display: none
}

.pod.limited:hover .clipped-container .clipped-view .box.empty {
    padding-right: 95px
}

.pod .clipped-container .share-box .social-container .social-message {
    color: #6a6a6a;
    font: bold 1.23em Arial;
    margin: 0 0 0 20px;
    padding-top: 10px;
    text-shadow: none;
    letter-spacing: 0
}

.pod.premium .clipped-container .share-box .social-container .social-message {
    padding-top: 20px
}

.pod .clipped-container .share-box .social-container .social-strip {
    height: 50px;
    margin-top: 20px
}

.pod .clipped-container .share-box .social-container .social-strip div {
    float: left;
    height: 35px;
    margin: auto auto auto 30px;
    width: 35px;
    background: transparent url("/static/bestcoupon/img/png/sprite-pod-2.png") no-repeat
}

    .pod .clipped-container .share-box .social-container .social-strip div.facebook     { background: transparent url("/static/bestcoupon/img/svg/bestcoupon-icon-facebook.svg") no-repeat     }
    .pod .clipped-container .share-box .social-container .social-strip div.twitter      { background: transparent url("/static/bestcoupon/img/svg/bestcoupon-icon-twitter.svg") no-repeat      }
    .pod .clipped-container .share-box .social-container .social-strip div.odnoklasniki { background: transparent url("/static/bestcoupon/img/svg/bestcoupon-icon-odnoklasniki.svg") no-repeat }
    .pod .clipped-container .share-box .social-container .social-strip div.vkontakte    { background: transparent url("/static/bestcoupon/img/svg/bestcoupon-icon-vkontakte.svg") no-repeat    }


.pod .clipped-container .share-box .social-container .social-strip div:hover {
    border-bottom:solid 1px BLACK;
    padding: 0 0px 10px 0px;
}

    .pod .clipped-container .share-box .social-container .social-strip div.facebook:hover {
        /* deleted */
    }

    .pod .clipped-container .share-box .social-container .social-strip div.twitter:hover {
        /* deleted */
    }


.cta-3d.promo-button {
    margin-top: 20px;
    letter-spacing: 0
}

.promo-unit {
    margin: 10px 20px 0 20px
}

.pod.premium .promo-unit {
    margin: 20px 20px 0 20px
}

.pod .clipped-container .more-box .more-container h4 {
    color: #6a6a6a;
    font: bold 1.23em Arial;
    text-shadow: none;
    letter-spacing: 0
}

.pod .clipped-container .more-box .more-container span {
    padding: 0
}

.pod .clipped-container .more-box .more-container span:hover {
    color: #444
}

@font-face {
    font-family: "SpriteFont";
    font-style: normal;
    font-weight: normal;
    src: url("//cdn.cpnscdn.com/static.coupons.com/Sites/fonts/icomoon.eot");
    src: url("//cdn.cpnscdn.com/static.coupons.com/Sites/fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("//cdn.cpnscdn.com/static.coupons.com/Sites/fonts/icomoon.woff") format("woff"), url("//cdn.cpnscdn.com/static.coupons.com/Sites/fonts/icomoon.ttf") format("truetype"), url("//cdn.cpnscdn.com/static.coupons.com/Sites/fonts/icomoon.svg#RockSaltRegular") format("svg")
}

i {
    font-family: SpriteFont;
    font-size: 16px;
    margin-right: 4px;
    font-style: normal
}

.pod.cpc.limited .share-box {
    visibility: hidden
}

.pod .hover p.info {
    margin: 30px 0 0 214px;
    position: absolute;
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    color: #36799f;
    font-size: .923em;
    letter-spacing: 2px;
    font-size-adjust: normal;
    text-transform: none
}

.pod.video .hover p.info {
    margin: 25px 0 0 214px
}

.mod-gallery {
    padding-left: 15px
}

.mod-gallery .mrec, .mod-gallery .house-ad {
    height: 250px;
    width: 300px;
    margin: 12px 6px 6px 12px
}

.mod-gallery .tools {
    padding: 11px 0;
    z-index: 1;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 20px;
    background: #ebebea;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 6px 6px 0 0
}

.mod-gallery .tools.inactive {
    background-color: rgba(53, 151, 211, 0.75)
}

.mod-gallery .selectall {
    display: inline;
    padding: 0 20px 0 20px;
    border-right: 1px solid #cccbcb;
    box-shadow: 1px 0 #fff
}

.mod-gallery .selectall-chk, .mod-gallery .selectall label {
    cursor: pointer
}

.mod-gallery .selectall label {
    margin-left: 4px;
    font-weight: normal;
    font-size: 14px;
    color: #333
}

.mod-gallery .tools .goto-top {
    padding: 0 25px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    color: #333
}

.mod-gallery .goto-top .triangle-top {
    margin-right: 8px;
    border-color: transparent transparent white transparent;
    bottom: 9px;
    border-width: 9px 6px
}

.mod-gallery .loading-indicator, .mod-gallery .page-break {
    clear: both;
    text-align: center
}

.mod-gallery .loading-indicator p, .mod-gallery .page-break {
    font-size: 92.3%;
    font-weight: bold;
    color: #08b4df
}

.mod-gallery .loading-indicator p {
    padding-top: 2em;
    padding-bottom: 1em
}

.mod-gallery .page-break {
    padding-top: 2em;
    padding-bottom: .5em
}

.mod-gallery .seg-label {
    margin: 0 0 15px 5px
}

.mod-gallery .seg-label h2 {
    color: #444;
    font-size: 18px;
    font-weight: bold
}

.mod-gallery .seg-label h1 {
    color: #08b4df;
    font-size: 24px;
    font-weight: bold
}

.mod-gallery .seg-label span {
    font-weight: normal
}

.mod-gallery .more {
    text-align: center;
    width: 940px
}

.mod-gallery .more button {
    margin: 12px auto 20px auto;
    padding: 9px;
    width: 900px;
    cursor: pointer
}

.mod-gallery .pod {
    position: relative;
    margin: 3px 15px 15px 3px
}

.mod-offeroftheweek .pod {
    width: 620px;
    height: 115px
}

.mod-gallery .mod-offeroftheweek .pod {
    margin: 3px 15px 8px 3px;
    position: static
}

.mod-offeroftheweek .pod .circle {
    width: 616px;
    height: 115px;
    background-position: 200px 14px;
    margin-top: 0
}

.mod-offeroftheweek .pod .left {
    height: 115px;
    width: 240px
}

.mod-offeroftheweek .pod .right {
    height: 115px;
    width: 380px;
    border-radius: 0 6px 6px 0
}

.mod-offeroftheweek.lifestyle .pod .left {
    height: 115px;
    width: 300px
}

.mod-offeroftheweek.lifestyle .pod .right {
    height: 115px;
    width: 320px
}

.mod-offeroftheweek .pod .pod-info {
    margin: 15px 15px 0 15px
}

.mod-offeroftheweek .badge {
    height: 91px;
    position: absolute;
    margin-top: -18px;
    margin-left: -8px;
    width: 91px;
    background: url("/static/bestcoupon/img/svg/bestcoupon-icon-today-offer-off.svg") no-repeat;
    z-index: 100;
}

.mod-offeroftheweek .pod:hover .badge,
.mod-offeroftheweek .pod.clipped .badge,
.mod-offeroftheweek .pod.limited .badge {
    background: url("/static/bestcoupon/img/svg/bestcoupon-icon-today-offer-on.svg") no-repeat;
}

.mod-offeroftheweek .pod .premium-label {
    display: none
}

.mod-offeroftheweek .pod .pod-media {
    border-radius: 6px 0 0 6px;
    height: 115px;
    width: 230px;
    margin: 0
}

.mod-offeroftheweek .pod .pod-media .pod-image {
    padding: 6px 20px 6px 96px;
    height: 100px;
    width: 80px
}

.mod-offeroftheweek.product .pod .pod-media .pod-image {
    width: 110px
}

.mod-offeroftheweek.lifestyle .pod .pod-media .pod-image {
    height: 111px;
    width: 300px;
    padding: 0
}

.mod-offeroftheweek.lifestyle .pod.clipped .pod-media .pod-image, .mod-offeroftheweek.lifestyle .pod.limited .pod-media .pod-image {
    border-radius: 6px 0 0 6px;
    height: 115px
}

.mod-offeroftheweek .pod.clipped .clipped-container, .mod-offeroftheweek .pod.limited .clipped-container {
    width: 365px;
    margin: 71px 0 0 255px
}

.mod-offeroftheweek .pod.show-share .right {
    display: none;/**/
}

.mod-offeroftheweek .pod.clipped .clipped-container .social-container, .mod-offeroftheweek .pod.limited .clipped-container .social-container, .mod-offeroftheweek .pod.clipped .clipped-container .more-container, .mod-offeroftheweek .pod.limited .clipped-container .more-container {
    width: 360px;
    top: -60px;
    height: 60px
}

.mod-offeroftheweek .pod.clipped .clipped-container .social-container .social-message, .mod-offeroftheweek .pod.limited .clipped-container .social-container .social-message {
    margin: 10px 0 0 0;
    display: inline
}

.mod-offeroftheweek .pod.clipped .clipped-container .share-box .social-container .social-strip,
.mod-offeroftheweek .pod.limited .clipped-container .share-box .social-container .social-strip {
    margin-left: 70px;
    margin-top: 0
}

.mod-offeroftheweek .pod.clipped .clipped-container .share-box .social-container .social-strip div, .mod-offeroftheweek .pod.limited .clipped-container .share-box .social-container .social-strip div {
    margin: auto auto auto 20px
}

.mod-offeroftheweek .more-container .cta-3d.promo-button {
    margin-top: 10px
}

.mod-offeroftheweek .promo-unit {
    margin: 0
}

.mod-offeroftheweek .pod.clipped .clipped-container .clipped-info, .mod-offeroftheweek .pod.limited .clipped-container .clipped-info {
    height: 60px;
    margin: 11px;
    margin-left: 20px
}

.mod-offeroftheweek .pod.clipped .clipped-container .clipped-info .pod-info, .mod-offeroftheweek .pod.limited .clipped-container .clipped-info .pod-info {
    margin: 10px 10px 0 0
}

.mod-offeroftheweek .pod .promo-unit.category-promo .promo-button {
    margin: 5px 0 0 0
}

.mod-offeroftheweek .pod .hover {
    height: 110px;
    width: 616px;
    margin-left: 0
}

.mod-offeroftheweek .pod .hover p.click-text {
    margin-top: 7%
}

.mod-offeroftheweek .pod.clipped .pod-clipped-media, .mod-offeroftheweek .pod.limited .pod-clipped-media {
    height: 90px;
    width: 210px;
    margin-top: 20px
}

.mod-offeroftheweek .pod.clipped .pod-clipped-media .check, .mod-offeroftheweek .pod.limited .pod-clipped-media .check {
    margin-left: 90px
}

.mod-offeroftheweek .pod.clipped .pod-clipped-media p, .mod-offeroftheweek .pod.limited .pod-clipped-media p {
    margin-left: 121px;
    margin-top: 20px
}

.mod-offeroftheweek .pod .clipped-container .unclip-action,
.mod-offeroftheweek .pod .clipped-container .share-box,
.mod-offeroftheweek .pod .clipped-container .more-box {
    padding: 0 15px
}

.mod-offeroftheweek .pod .clipped-container span.limit-action {
    margin-left: 10px
}

.mod-offeroftheweek .pod.show-share:hover .left, .mod-offeroftheweek .pod.show-more:hover .left {
    opacity: .30;
    filter: alpha(opacity = 70)
}

.mod-offeroftheweek .pod .hover p.info {
    margin: 8px 0 0 494px;
    transform: rotate(0deg)
}

.mod-signinsignup.siso-links, .mod-signinsignup.user-dropdown {
    display: inline-block;
    white-space: nowrap
}

.mod-signinsignup:hover {
    cursor: pointer
}

.mod-signinsignup a, .mod-signinsignup li {
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px #1d789f;
    font-size: 11px;
    text-transform: uppercase
}

.mod-signinsignup.siso-links a {
    margin-right: 22px
}

.mod-signinsignup .siso-pipe {
    border-left: 2px solid #fff;
    height: 11px;
    margin-right: 25px
}

.mod-signinsignup.user-dropdown {
    vertical-align: top;
    position: relative;
    top: -9px;
    margin-left: -13px;
    margin-right: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 84.62%;
    border-radius: 3px;
    border: solid 1px #009bde;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
    background: #59bbe5;
    background: -moz-linear-gradient(top, #59bbe5 0, #139eda 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #59bbe5), color-stop(100%, #139eda));
    background: -webkit-linear-gradient(top, #59bbe5 0, #139eda 100%);
    width: auto
}

.mod-signinsignup.user-dropdown .user-msg {
    display: inline-block;
    min-width: 100px;
    max-width: 220px;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
    top: -1px
}

.mod-signinsignup.user-dropdown li {
    border-bottom: 1px solid #058ac3;
    border-top: 1px solid #80cbeb;
    padding: 9px 12px
}

.mod-signsignup.user-dropdown li:hover {
    background: #058ac4
}

.mod-signinsignup.user-dropdown li>a:hover {
    text-decoration: underline
}

.mod-signinsignup .user-dropdown li.first:hover {
    background: transparent
}

.mod-signinsignup.user-dropdown li, .mod-signinsignup.user-dropdown li a {
    color: #fff;
    text-decoration: none;
    text-transform: none
}

.mod-signinsignup.user-dropdown li.first {
    text-transform: uppercase;
    text-shadow: 0 1px #1d789f;
    letter-spacing: 1px
}

.mod-signinsignup.user-dropdown.closed {
    background: 0;
    border: 0;
    box-shadow: none;
    position: static;
    vertical-align: inherit;
    margin-left: 0;
    margin-right: 23px
}

.mod-signinsignup.user-dropdown.closed li {
    display: none
}

.mod-signinsignup.user-dropdown.closed li.first {
    display: block;
    border: 0;
    padding: 0
}

.mod-signinsignup.user-dropdown .triangle-down {
    border-color: #fffffd transparent transparent transparent;
    bottom: 0;
    margin-left: 7px
}

#header {
    position: relative;
    z-index: 1
}

.mod-header {
    background: #54bce9;
    background: -moz-linear-gradient(top, #54bce9 0, #10a2e0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #54bce9), color-stop(100%, #10a2e0));
    background: -webkit-linear-gradient(top, #54bce9 0, #10a2e0 100%);
    box-shadow: 0 1px 2px #a7a5a3;
    height: 72px;
    overflow: visible
}

.mod-header .navbar {
    position: absolute;
    right: 0;
    top: 25px
}

.mod-header .tab-container, .mod-header .tablist {
    display: inline-block
}

.mod-header .navbar .tab {
    margin-left: 25px
}

.mod-header .navbar .tab.last {
    margin-right: 25px
}

.mod-header .navbar .tab a {
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px #1d789f;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px
}

.mod-header .navbar .tab.selected a {
    border-bottom: 2px solid #FFF
}

.mod-intronagbar {
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: #999;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff');
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eee), to(#fff));
    background: -moz-linear-gradient(#eee, #fff);
    background: linear-gradient(#eee, #fff);
    -webkit-box-shadow: 0 1px 2px rgba(50, 50, 50, 0.5), inset 0 2px white;
    -moz-box-shadow: 0 1px 2px rgba(50, 50, 50, 0.5), inset 0 2px white;
    box-shadow: 0 1px 2px rgba(50, 50, 50, 0.5), inset 0 2px white
}

.mod-intronagbar .intro-content {
    margin: auto;
    width: 980px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

.mod-intronagbar .close-btn {
    background: transparent;
    border: 0 none;
    cursor: pointer;
    position: relative;
    text-align: right;
    color: #333;
    font-size: 230.77%;
    margin-left: 930px
}

.mod-intronagbar .left {
    float: left;
    width: 980px;
    height: 180px;
    background-image: url("//cdn.cpnscdn.com/static.coupons.com/Sites/img/urban/girl.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 350px 170px;
    background-position: 580px 10px
}

.mod-intronagbar .intro-title {
    font-size: 230.77%;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 9px;
    color: #8fc73d;
    font-weight: bold
}

.mod-intronagbar .intro-subtitle {
    font-size: 138.5%;
    margin-bottom: 30px;
    color: #333
}

.mod-intronagbar span {
    font-size: 92.3%;
    color: #444
}

.mod-intronagbar a {
    cursor: pointer;
    font-family: RockSaltRegular;
    font-size: 92.3%;
    letter-spacing: 1px;
    text-decoration: none;
    color: #444
}

.mod-intronagbar a:hover {
    text-decoration: underline
}

.mod-miscellaneous .top {
    margin-top: 30px
}

.mod-miscellaneous .promos li {
    margin-left: 18px;
    max-width: 220px;
    text-align: left;
    vertical-align: top
}

.mod-miscellaneous .promos img {
    margin-bottom: 20px
}

.mod-miscellaneous .promos h3 {
    margin-bottom: 5px;
    font-family: “ Helvetica Neue ”, Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #444;
    font-size: 16px
}

.mod-miscellaneous .promos p {
    margin-bottom: 12px;
    font-family: “ Helvetica Neue ”, Helvetica, Arial, sans-serif;
    color: #777;
    font-size: 12px;
    line-height: 17px
}

.mod-miscellaneous .promos input, .mod-miscellaneous .promos button {
    display: block;
    margin-bottom: 8px
}

.mod-miscellaneous .promos button, .mod-miscellaneous .promos a.cta-link {
    background: #069ddf;
    background: -moz-linear-gradient(top, #fff 0, #7acbee 2%, #069ddf 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(2%, #7acbee), color-stop(100%, #069ddf));
    background: -webkit-linear-gradient(top, #fff 0, #7acbee 2%, #069ddf 100%);
    background: -o-linear-gradient(top, #fff 0, #7acbee 2%, #069ddf 100%);
    background: -ms-linear-gradient(top, #fff 0, #7acbee 2%, #069ddf 100%);
    background: linear-gradient(to bottom, #fff 0, #7acbee 2%, #069ddf 100%);
    border: 1px solid #099fdf;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 11px;
    width: 80px;
    line-height: 20px;
    display: block;
    vertical-align: middle
}

.mod-miscellaneous .promos button:hover, .mod-miscellaneous .promos a:hover {
    cursor: pointer
}

.mod-miscellaneous .promos p>a {
    color: #777;
    text-decoration: none
}

.mod-miscellaneous .promos p>a:hover {
    text-decoration: underline
}

.mod-miscellaneous .promos a.cta-link {
    color: #fff;
    text-decoration: none;
    text-align: center
}

.mod-miscellaneous .bottom {
    background: #f3ebe0;
    padding: 10px 20px;
    margin-top: 30px;
    height: 30px;
    text-align: center
}

.mod-miscellaneous .sitemap {
    margin-top: 7px
}

.mod-miscellaneous .bottom a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    font-size: 12px;
    margin: 0 10px;
    font-weight: normal;
    text-transform: capitalize;
    text-decoration: none
}

.mod-emailsignup {
    background-color: #fff
}

.mod-emailsignup .signup-form .hd h4 {
    font-size: 153.9%;
    font-style: Arial;
    color: #00a1d2
}

.mod-emailsignup .signup-form .hd h3 {
    font-size: 215.4%;
    font-style: Arial;
    font-weight: bold;
    margin-top: 10px;
    color: #00a1d2
}

.mod-emailsignup .signuppform .bd {
    width: 495px
}

.mod-emailsignup .signup-form .bd .supersaver-msg {
    font-size: 116%;
    font-style: Arial;
    line-height: 21px;
    color: #6a6464;
    margin-top: 15px;
    width: 495px
}

.mod-emailsignup .signup-form .bd .exist-email-signup .supersaver-msg-sweet {
    margin-top: 24px;
    color: #00a1d2;
    font-weight: italic;
    font-size: 116%;
    font-style: Arial
}

.mod-emailsignup .signup-form .bd .supersaver-msg .sample-letter-msg {
    color: #00a1d2;
    display: block
}

.mod-emailsignup .signup-form .bd .supersaver-msg .sample-letter-msg.hidden {
    display: none
}

.mod-emailsignup .signup-form .bd .supersaver-msg .sample-letter-msg:focus, .mod-emailsignup .signup-form .bd .update-signup-btn:focus {
    outline: 0
}

.mod-emailsignup .signup-form .email-signup {
    width: 250px;
    height: 200px;
    display: inline-block;
    float: left;
    margin-top: 40px
}

.mod-emailsignup .signup-form .middle-line {
    margin: 45px 15px 15px 26px;
    width: 7px;
    height: 156px;
    display: inline-block;
    float: left;
    background-position: -13px -185px
}

.mod-emailsignup .signup-form .fb-signup {
    margin-top: 47px;
    width: 200px;
    height: 196px;
    float: left
}

.mod-emailsignup .signup-form .fb-signup .fb-signup-msg {
    text-align: left;
    font: 100% Arial;
    color: #909090;
    line-height: 16px
}

.mod-emailsignup .signup-form .fb-signup .fb-signup-btn {
    margin-top: 15px;
    cursor: pointer;
    width: 207px;
    height: 34px;
    background-position: -14px -132px;
    border: 0 none;
    background-color: transparent
}

.mod-emailsignup .signup-form .fb-signup-error, .mod-emailsignup .signup-form .signup-error, .mod-emailsignup .signup-form .bd .new-email-signup .signin-link, .mod-emailsignup .signup-form .bd .new-email-signup .signin-link .signin {
    font-size: 93%;
    font-style: Arial;
    color: #b90700;
    text-align: left;
    margin-bottom: 10px
}

.mod-emailsignup .signup-form .fb-signup-error {
    margin-top: 15px
}

.mod-emailsignup .signup-form .signup-error {
    margin-top: -30px
}

.mod-emailsignup .signup-form .signin-link {
    margin-top: -10px
}

.mod-emailsignup .signup-form .email-signup-label {
    font-size: 93%;
    font-style: Arial;
    color: #909090;
    text-align: left
}

.mod-emailsignup .signup-form .email-signup-input {
    border: 1px solid #bcbcbc;
    width: 243px;
    height: 31px;
    line-height: 31px;
    background-color: #fff;
    margin-top: 3px
}

.mod-emailsignup .signup-form .email-signup-btn, .mod-emailsignup .signup-form .update-signup-btn {
    margin-top: 12px;
    cursor: pointer;
    background-color: transparent;
    border: 0 none;
    background-position: -13px -77px;
    width: 133px;
    height: 33px;
    display: inline;
    vertical-align: middle
}

.mod-emailsignup .signup-form .update-signup-btn {
    margin-top: 20px
}

.mod-emailsignup .signup-form .email-label {
    margin-top: 16px;
    font-size: 116%;
    font-style: Arial;
    color: #909090;
    margin-bottom: 17px
}

.mod-emailsignup .signup-form .email-label span {
    font-weight: bold;
    color: #6e6e6e
}

.mod-emailsignup .signup-form .email-signup-term {
    margin-top: 19px;
    font-size: 85%;
    font-style: Arial;
    color: #909090;
    padding-left: 6px;
    text-align: left;
    line-height: 15px
}

.mod-emailsignup .signup-form .email-signup-term a {
    color: #00a1d2;
    text-decoration: none
}

.mod-emailsignup .signup-form .email-signup-term a:hover {
    text-decoration: underline
}

.mod-emailsignup .thankyou-form .thankyou-hd {
    font-size: 307.7%;
    font-style: Arial;
    font-weight: bold;
    color: #0097db
}

.mod-emailsignup .thankyou-form .thankyou-msg {
    margin-top: 11px;
    padding-left: 6px;
    font-size: 167%;
    font-style: Arial;
    color: #b2b2b2;
    line-height: 24px;
    text-align: left
}

.mod-emailsignup .thankyou-form .thankyou-option {
    margin-top: 18px
}

.mod-emailsignup .thankyou-form .thankyou-option .find-more-coupons {
    font-size: 116%;
    font-style: Arial;
    text-align: left;
    padding-left: 6px;
    color: #00a1d2;
    cursor: pointer;
    text-decoration: none
}

.mod-emailsignup .thankyou-form .thankyou-option .find-more-coupons .triangle {
    width: 0;
    height: 0;
    border-left: 7px solid #00a1d2;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    margin-left: 6px
}

.flyout-inner .mod-emailsignup {
    width: 610px;
    padding-left: 20px
}

.flyout-inner .mod-emailsignup .signup-form .hd h4 {
    color: #929292
}

.flyout-inner .mod-emailsignup .close-button {
    border: 0 none;
    color: #333;
    cursor: pointer;
    font-size: 85%;
    top: 7px;
    position: absolute;
    right: 10px;
    text-align: right;
    outline: 0 none;
    font-size: 230.77%
}

.flyout-inner .mod-emailsignup .signup-form .no-signup.close-button {
    padding-left: 15px;
    text-decoration: underline;
    background-color: transparent;
    border: 0 none;
    font: 100% Arial;
    color: #909090;
    position: relative;
    top: 5px
}

.flyout-inner .mod-emailsignup .thankyou-form .thankyou-option .close-button {
    background-color: transparent;
    border: 0 none;
    text-decoration: underline;
    font-size: 116%;
    font-style: Arial;
    color: #00a1d2;
    text-align: left;
    position: relative;
    left: 0
}

.flyout-inner .mod-emailsignup .signup-form, .flyout-inner .mod-emailsignup .thankyou-form {
    width: 513px;
    height: 334px;
    padding-top: 10px
}

.flyout-inner .email-sprite {
    background-image: url("//cdn.cpnscdn.com/static.coupons.com/Sites/img/bigblue/ssa-email-signup-sprite.png")
}

.flyout-inner .mod-emailsignup .emailsignup-box.close-button {
    background: 0
}

.flyout-inner .mod-emailsignup .thankyou-form {
    height: 234px;
    width: 485px
}

.mod-stalker {
    background-color: #ebebea;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    margin: 0 auto 25px auto;
    padding: 0 16px;
    width: 754px;
    border-radius: 0 0 6px 6px
}

.fixed-header .mod-stalker {
    position: fixed;
    z-index: 2;
    top: 0
}

.toolbarBodyShift.fixed-header .mod-stalker {
    top: 34px
}