.zf {
    margin-top: 30px;
    width: 100%;
    height: 200px;
    background: lightskyblue;
}
.zf .zf-box {
    float: left;
    margin-top: 30px;
    height: 290px;
}.zf .zf-box.zf-box-l,
 .zf .zf-box.zf-box-r {
     position: relative;
 }
.zf .zf-box.zf-box-l .zf-box-l-r {
    width: 14px;
    margin-top: auto;
    margin-bottom: auto;
    right: 0;
    position: absolute;
    height: 120px;
    background: url("/static/bestcoupon/img/png/sprite-backgrounds.png") -593px -100px no-repeat;
    top: 0;
}
.zf .zf-box.zf-box-l .zf-item {
    margin-right: 30px;
}

.zf .zf-box.zf-box-r .zf-box-r-l {
    width: 14px;
    margin-top: auto;
    margin-bottom: auto;
    left: 0;
    position: absolute;
    height: 120px;
    background: url("/static/bestcoupon/img/png/sprite-backgrounds.png") -610px -100px no-repeat;
    top: 0;
}
.zf .zf-box.zf-box-r .zf-item {
    margin-left: 30px;
    margin-right: 0;
}


.zf .zf-item {
    margin: 10px;
}
.zf .zf-item.zf-item-address {
    text-align: right;
    font-size: 12px;
    font-family: arial;
    color: #693469;
    margin-bottom: 15px;
}
.zf .zf-item.zf-item-address .zf-logo {
    float: left;
    margin: 29px 0 29px 10px;
    width: 125px;
    height: 46px;
    background: url("/static/bestcoupon/img/svg/bestcoupon-footer-logo.svg");
    position: absolute;
    left: 0;
    top: 0;
}

.zf .zf-box-canvas {
    margin: 0 auto;
    width: 989px;
}

.zf .zf-item.zf-item-address .zf-text {
    float: right;
    width: 110px;
}
.clearer {
    visibility: hidden;
    clear: both;
}

.zf .zf-item.zf-item-phone,
.zf .zf-item.zf-item-contact,
.zf .zf-item.zf-item-money {
    width: 220px;
    height: 58px;
    background: url("/static/bestcoupon/img/png/sprite-backgrounds.png") -280px -385px no-repeat;
    text-align: left;
}
.zf .zf-item.zf-item-contact .zf-icon {
    background-position: 0 -508px;
    width: 36px;
    margin: 10px 16px;
    height: 38px;
}
.zf .zf-item.zf-item-phone .zf-icon,
.zf .zf-item.zf-item-contact .zf-icon,
.zf .zf-item.zf-item-money .zf-icon {
    width: 48px;
    height: 48px;
    background: url("/static/bestcoupon/img/png/sprite-icons.png") 0 -300px no-repeat;
    float: left;
    margin: 10px;
}

.zf .zf-item.zf-item-contact .zf-text {
    font-size: 18px;
    letter-spacing: -1px;
}

.zf .zf-item.zf-item-phone .zf-text,
.zf .zf-item.zf-item-contact .zf-text,
.zf .zf-item.zf-item-money .zf-text {
    font-family: arial;
    font-size: 20px;
    color: #792579;
    padding: 10px 0 0 10px;
    font-weight: bolder;
}

.zf .zf-item.zf-item-contact .zf-icon {
    background-position: 0 -508px;
    width: 36px;
    margin: 10px 16px;
    height: 38px;
}

.zf .zf-item.zf-item-phone .zf-icon, .zf .zf-item.zf-item-contact .zf-icon, .zf .zf-item.zf-item-money .zf-icon {
    width: 48px;
    height: 48px;
    background: url("/static/bestcoupon/img/png/sprite-icons.png") 0 -300px no-repeat;
    float: left;
    margin: 10px;
}



.zf .zf-item.zf-item-phone, .zf .zf-item.zf-item-contact, .zf .zf-item.zf-item-money {
    width: 220px;
    height: 58px;
    background: url("/static/bestcoupon/img/png/sprite-backgrounds.png") -280px -385px no-repeat;
    text-align: left;
}

.zf .zf-item {
    margin: 10px;
}

.zf .zf-item.zf-item-contact .zf-icon {
    background-position: 0 -508px;
    width: 36px;
    margin: 10px 16px;
    height: 38px;
}

.zf .zf-item.zf-item-contact .zf-text {
    font-size: 18px;
    letter-spacing: -1px;
}

.zf .zf-item.zf-item-contact .zf-text .zf-link-small {
    text-decoration: none;
}

.zf .zf-item.zf-item-phone .zf-text span,
.zf .zf-item.zf-item-contact .zf-text span,
.zf .zf-item.zf-item-contact .zf-text .zf-link-small,
.zf .zf-item.zf-item-money .zf-text span
{
    font-size: 10px;
    color: #a452a4;
    display: block;
    font-weight: normal;
    letter-spacing: normal;
}

.zf .zf-item.zf-item-contact .zf-text a {
    color: #792579;
}

.zf .zf-item.zf-item-contact .zf-text {
    font-size: 18px;
    letter-spacing: -1px;
}

.zf .zf-item.zf-item-follow .zf-text {
    line-height: 32px;
    text-align: left;
}



.zf .zf-item.zf-item-follow .zf-text,
.zf .zf-item.zf-item-follow .zf-image {
    float: left;
    margin-right: 7px;
    display: inline;
}
.zf .zf-item.zf-item-follow .zf-image {
    width: 32px;
    height: 32px;
    background: url("/static/bestcoupon/img/png/sprite-icons.png") no-repeat;
}   .zf .zf-item.zf-item-follow .zf-image.zf-image-zum {
        background: url("/static/bestcoupon/img/svg/bestcoupon-logo-icon-only.svg") no-repeat;
        height: 60px;
        width: 60px;
    }
.zf .zf-item.zf-item-follow .zf-image.zf-image-facebook     { background: url("/static/bestcoupon/img/svg/bestcoupon-icon-facebook.svg");    }
.zf .zf-item.zf-item-follow .zf-image.zf-image-twitter      { background: url("/static/bestcoupon/img/svg/bestcoupon-icon-twitter.svg");     }
.zf .zf-item.zf-item-follow .zf-image.zf-image-rss          { background: url("/static/bestcoupon/img/svg/bestcoupon-icon-rss.svg");         }
.zf .zf-item.zf-item-follow .zf-image.zf-image-odnoklasniki { background: url("/static/bestcoupon/img/svg/bestcoupon-iconodnoklasniki.svg"); }
.zf .zf-item.zf-item-follow .zf-image.zf-image-vkontakte    { background: url("/static/bestcoupon/img/svg/bestcoupon-icon-vkontakte.svg");   }
.zf .zf-item.zf-item-follow .zf-image.zf-image-youtube      { background: url("/static/bestcoupon/img/svg/bestcoupon-icon-youtube.svg");     }


.zf .zf-item.zf-item-follow .zf-text {
    line-height: 32px;
    text-align: left;
}


.zf-item > a
{
    padding-left: 10px;
}

.zf .zf-box.zf-box-m .zf-item-hosted {
    text-align: right;
    height: 40px;
    line-height: 12px;
    font-size: 11px;
    font-family: arial;
    width: 230px;
    margin-top: 54px;
    #474f42
}

.icon_image_container {
    width: 244px;
    display: inline;
    float: right;
}
.icon_image_container > a {
    margin: 5px;
}
